<html>
<body>

<header>
  <table>
    <tr>
      <td colspan="2" class="spacing-bottom"><h2 class="normal-font">Directions Questionnaire Online</h2></td>
    </tr>
    <tr>
      <td colspan="2"><p>In the County Court Business Centre </p></td>
    </tr>
    <tr>
      <td colspan="2" class="spacing-bottom"><p>Online Civil Money Claims</p></td>
    </tr>
    <tr>
      <td colspan="2"><p><strong>Claim number: </strong>{{ claim.referenceNumber }}</p></td>
    </tr>
    <tr>
      <td colspan="2"><p><strong>Issued on: </strong> {{ claim.issuedOn }}</p></td>
    </tr>
    <tr>
      <td colspan="2" class="spacing-bottom"><p><strong>Claimant Response submitted on: </strong> {{ claimantSubmittedOn
        }}</p>
      </td>
    </tr>
  </table>
</header>

<br/>
<div class="section">
  <div class="section-heading">
    <strong>Claimant’s details</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td>
          {% if claimant.partyType == 'on behalf of a company' %}
          {% set claimantNameLabel = 'Company name' %}
          {% elseif claimant.partyType == 'on behalf of an organisation' %}
          {% set claimantNameLabel = 'Organisation name' %}
          {% else %}
          {% set claimantNameLabel = 'Name' %}
          {% endif %}
          <strong>{{ claimantNameLabel }}:</strong>
        </td>
        <td>
          {{ claimant.fullName }}
        </td>
      </tr>
      {% if claimant.contactPerson is defined and claimant.contactPerson is not empty %}
      <tr>
        <td><strong>Contact person:</strong></td>
        <td>
          {{ claimant.contactPerson }}
        </td>
      </tr>
      {% endif %}
      {% if claimant.businessName is defined and claimant.businessName is not empty %}
      <tr>
        <td><strong>Business name:</strong></td>
        <td>
          Trading as {{ claimant.businessName }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Address:</strong></td>
        <td>
          {{ claimant.address.line1 }}
          <br/>
          {% if claimant.address.line2 is defined and claimant.address.line2 is not empty %}
          {{ claimant.address.line2 }}
          <br/>
          {% endif %}
          {% if claimant.address.line3 is defined and claimant.address.line3 is not empty %}
          {{ claimant.address.line3 }}
          <br/>
          {% endif %}
          {{ claimant.address.city }}
          <br/>
          {{ claimant.address.postcode }}
        </td>
      </tr>
      {% if claimant.correspondenceAddress is defined and claimant.correspondenceAddress is not empty %}
      <tr>
        <td><strong>Correspondence address:</strong></td>
        <td>
          {{ claimant.correspondenceAddress.line1}}
          <br/>
          {% if claimant.correspondenceAddress.line2 is defined and claimant.correspondenceAddress.line2 is not empty %}
          {{ claimant.correspondenceAddress.line2 }}
          <br/>
          {% endif %}
          {% if claimant.correspondenceAddress.line3 is defined and claimant.correspondenceAddress.line3 is not empty %}
          {{ claimant.correspondenceAddress.line3 }}
          <br/>
          {% endif %}
          {{ claimant.correspondenceAddress.city }}
          <br/>
          {{ claimant.correspondenceAddress.postcode }}
        </td>
      </tr>
      {% endif %}
      {% if claimant.dateOfBirth is defined and claimant.dateOfBirth is not empty %}
      <tr>
        <td><strong>Date of birth:</strong></td>
        <td>
          {{ claimant.dateOfBirth }}
        </td>
      </tr>
      {% endif %}
      {% if claimant.mobileNumber is defined and claimant.mobileNumber is not empty %}
      <tr>
        <td><strong>Telephone:</strong></td>
        <td>
          {{ claimant.mobileNumber }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Email:</strong></td>
        <td>
          {{ claimant.email }}
        </td>
      </tr>
    </table>
  </div>
</div>

<br/>
<div class="section">
  <div class="section-heading">
    <strong>About the hearing</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td>
          Support required for a hearing
        </td>
        <td>
          {% for support in hearingContent.supportRequired %}
            {{ support }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Hearing location</td>
      </tr>
      <tr>
        <td><strong>Preferred hearing centre</strong></td>
        <td>
          {{ hearingContent.hearingLocation }}
        </td>
      </tr>
      <tr>
        <td><strong>Briefly explain your reasons</strong></td>
        <td>
          {{ hearingContent.locationReason }}
        </td>
      </tr>
      <tr>
        <td>Expert evidence</td>
      </tr>
      <tr>
        <td><strong>Have you already got a report written by an expert?</strong></td>
        <td>
          {{ hearingContent.hasExpertReport }}
        </td>
      </tr>
      <tr>
        <td><strong>Have you already got a report written by an expert?</strong></td>
        <td>
          {{ hearingContent.hasExpertReport }}
        </td>
      </tr>
      {% for report in hearingContent.expertReports %}
        <tr>
          <td><strong>Report</strong></td>
          <td>
            {{ report.expertName }} <br>
            {{ report.expertReportDate }}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td><strong>Do you want the court's permission to hire an expert?</strong></td>
        <td>
          {{ hearingContent.courtPermissionForExpertReport }}
        </td>
      </tr>
      <tr>
        <td><strong>Does the claim involve something an expert can still examine?</strong></td>
        <td>
          {{ hearingContent.expertExamineNeeded }}
        </td>
      </tr>
      <tr>
        <td><strong>What is there to examine?</strong></td>
        <td>
          {{ hearingContent.whatToExamine }}
        </td>
      </tr>
      <tr>
        <td><strong>Briefly explain why you believe an expert is needed</strong></td>
        <td>
          {{ hearingContent.reasonWhyExpertAdvice }}
        </td>
      </tr>
      <tr>
        <td>Witnesses</td>
      </tr>
      <tr>
        <td><strong>Do you want to give evidence?</strong></td>
        <td>
          {{ hearingContent.witness.selfWitness }}
        </td>
      </tr>
      <tr>
        <td><strong>Other witnesses</strong></td>
        <td>
          {{ hearingContent.witness.noOfOtherWitness }}
        </td>
      </tr>
      <tr>
        <td><strong>Dates unavailable</strong></td>
        <td>
          {% for unavailableDate in hearingContent.unavailableDates %}
            {{ unavailableDate }} <br>
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
