<html>
<head>
  <meta charset="UTF-8"/>
  <title>Money Claim response receipt</title>
  <style>
    @page :first {
      size: 8.5in 11in;
      margin: 10%;
      @top-right {
        /*noinspection CssNoGenericFontName*/
        font-family: "Open Sans";
      }
    }


    .dqSection {
      page: dqSection;
      page-break-after: avoid;
    }

    @page {
      size: 8.5in 11in;
      margin: 10%;

      @top-right {
        content: "Claim number: {{ claim.referenceNumber }}";
        font-size: 12px;
        /*noinspection CssNoGenericFontName*/
        font-family: "Open Sans";
      }
      @bottom-left {
        content: "{{ formNumber }}";
        /*noinspection CssNoGenericFontName*/
        font-family: "Open Sans";
        font-size: 10px;
        font-weight: bold;
      }
      @bottom-center {
        content: "For further details of the courts www.gov.uk/find-court-tribunal";
        font-size: 10px;
      }

      @bottom-right {
        content: "&#169; Crown copyright Page " counter(page) " of " counter(pages);
        font-size: 10px;
        padding-left: 50px;
      }

    }


    @page dqSection {

      @bottom-left {
        content: "OCON180";
        /*noinspection CssNoGenericFontName*/
        font-family: "Open Sans";
        font-size: 10px;
        font-weight: bold;
      }

    }

    html {
      /*noinspection CssNoGenericFontName*/
      font-family: "Open Sans";
    }

    body {
      counter-reset: section;
    }

    .section {
      margin-bottom: 25px;
    }

    .section .section-heading {
      margin-bottom: 10px;
      font-size: large;
      page-break-after: avoid;
    }

    .section .section-heading strong:before {
      counter-increment: section;
      content: counter(section) ". ";
    }

    .next-steps .section-heading strong:before {
      content: "";
    }

    .no-border tr, .no-border th, .no-border td {
      border: none;
    }

    table {
      width: 100%;
      border-spacing: 0;
    }

    table td {
      border-top: 1px solid #999;
      padding: 5px;
    }

    table tr:last-child td {
      border-bottom: 1px solid #999;
    }

    table td:first-child {
      width: 220px;
      vertical-align: top;
    }

    table td:last-child {
      width: auto;
    }

    header table td, header table tr:last-child td {
      border: none;
    }

    div table tr td:first-child {
      font-weight: bold;
    }

    header p, header h2 {
      text-align: right;
      margin: 0;
      padding: 0;
    }

    header td {
      margin: 0;
      padding: 0;
    }

    ol.enumerate {
      margin-top: 0;
      counter-reset: enumerated;
      list-style: none;
    }

    ol.enumerate li::before {
      content: counter(section) "." counter(enumerated) ". ";
      counter-increment: enumerated;
      color: #888;
    }

    ol.enumerate li {
      margin-bottom: 5px;
    }

    .spacing-bottom {
      padding-bottom: 20px;
    }

    .normal-font {
      font-weight: normal;
    }

    .no-border tr, .no-border th, .no-border td {
      border: none;
    }

    td.single-cell {
      font-weight: 100 !important;
    }

    .no-padding-right {
      padding-right: 0;
    }

    .keep-formatting {
      white-space: pre-line;
    }

    .heading-medium {
      padding-bottom: 0;
      margin-bottom: 0.4em;
      margin-top: 1.5em;
      font-size: 22px;
    }

    .new-dq h2 span {
      color: #fff;
      background-color: #5D514D;
      padding: 5px;
    }

    table.new-dq td:last-child div {
      border: 1px solid gray;
      padding: 5px;
      min-height: 18px;
    }

    table.new-dq tr {
      border: none;
    }

    table.new-dq td {
      padding: 0.63158em 1.05263em 0.67368em 0;
      border-top: none;
      border-bottom: none !important;
      min-height: 18px;
    }

    .new-dq h2 {
      color: #000;
      background-color: #EDEDED;
      font-size: 21px !important;
    }

    .heading-medium {
      padding-bottom: 0;
      margin-bottom: 0.4em;
      margin-top: 1.5em;
      font-size: 22px;
    }
  </style>
</head>
<body>

<header>
  <table>
    <tr>
      <td colspan="2" class="spacing-bottom"><h2 class="normal-font">Defendant&#8217;s response</h2></td>
    </tr>
    <tr>
      <td colspan="2"><p>In the County Court Business Centre</p></td>
    </tr>
    <tr>
      <td colspan="2" class="spacing-bottom"><p>Online Civil Money Claims</p></td>
    </tr>
    <tr>
      <td colspan="2"><p><strong>Claim number: </strong>{{ claim.referenceNumber }}</p></td>
    </tr>
    <tr>
      <td colspan="2"><p><strong>Issued on: </strong> {{ claim.issuedOn }}</p></td>
    </tr>
    <tr>
      <td colspan="2" class="spacing-bottom"><p><strong>Response received on: </strong> {{ defenceSubmittedOn }}</p>
      </td>
    </tr>
  </table>
</header>

<br/>

<div class="section">
  <div class="section-heading">
    <strong>Defendant&#8217;s details</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td>Name</td>
        <td>
          {{ defendant.fullName }}
        </td>
      </tr>
      {% if defendant.contactPerson is defined %}
      <tr>
        <td>Contact person</td>
        <td>
          {{ defendant.contactPerson }}
        </td>
      </tr>
      {% endif %}
      {% if defendant.businessName is defined %}
      <tr>
        <td>Business name</td>
        <td>
          Trading as {{ defendant.businessName }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td class="keep-formatting">Address
          {% if defendant.addressAmended %}
          (as amended)
          {% endif %}
        </td>
        <td>
          {{ defendant.address.line1 }}
          <br/>
          {% if defendant.address.line2 is defined and defendant.address.line2 is not empty %}
          {{ defendant.address.line2 }}
          <br/>
          {% endif %}
          {% if defendant.address.line3 is defined and defendant.address.line3 is not empty %}
          {{ defendant.address.line3 }}
          <br/>
          {% endif %}
          {{ defendant.address.city }}
          <br/>
          {{ defendant.address.postcode }}
        </td>
      </tr>
      {% if defendant.correspondenceAddress is defined and defendant.correspondenceAddress is not empty %}
      <tr class="no-border">
        <td>Correspondence address</td>
        <td>
          {{ defendant.correspondenceAddress.line1 }}
          <br/>
          {% if defendant.correspondenceAddress.line2 is defined and defendant.correspondenceAddress.line2 is not empty %}
          {{ defendant.correspondenceAddress.line2 }}
          <br/>
          {% endif %}
          {% if defendant.correspondenceAddress.line3 is defined and defendant.correspondenceAddress.line3 is not empty %}
          {{ defendant.correspondenceAddress.line3 }}
          <br/>
          {% endif %}
          {{ defendant.correspondenceAddress.city }}
          <br/>
          {{ defendant.correspondenceAddress.postcode }}
        </td>
      </tr>
      {% endif %}
      {% if defendant.dateOfBirth is defined and defendant.dateOfBirth is not empty %}
      <tr>
        <td>Date of birth</td>
        <td>
          {{ defendant.dateOfBirth }}
        </td>
      </tr>
      {% endif %}
      {% if defendant.phone is defined and defendant.phone is not empty %}
      <tr>
        <td>Telephone</td>
        <td>
          {{ defendant.phone }}{% if defendant.phoneAmended %}
          (as amended)
          {% endif %}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>Email</td>
        <td>
          {{ defendant.email }}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="section">
  <div class="section-heading">
    <strong>Defendant&#8217;s response to the claim</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td>Defendant&#8217;s response</td>
        <td>
          {{ responseTypeSelected }}
        </td>
      </tr>

      {% if responseType == "PART_ADMISSION" %}
      {% if paymentDeclarationIsPresent %}
      <tr>
        <td>Amount they have paid</td>
        <td>
          {{ amount }}
        </td>
      </tr>
      {% if paymentDate is defined %}
      <tr>
        <td>When they paid this amount</td>
        <td>
          {{ paymentDate }}
        </td>
      </tr>
      {% endif %}
      {% if paymentMethod is defined and paymentMethod is not empty %}
      <tr>
        <td>How they paid the amount</td>
        <td>
          {{ paymentMethod | trim }}
        </td>
      </tr>
      {% endif %}
      {% else %}
      <tr>
        <td>Amount they admit they owe</td>
        <td>
          {{ amount }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>Why they dispute the claim</td>
        <td>
          <ol class="enumerate">
            {% for responseDefenceLine in responseDefence %}
            <li>{{ responseDefenceLine }}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
      {% else %}
      {% if hasDefendantAlreadyPaid is defined and hasDefendantAlreadyPaid and paidAmount is defined and paidAmount is not empty %}
      <tr>
        <td>Amount they have paid</td>
        <td>
          {{ paidAmount }}
        </td>
      </tr>
      {%endif %}
      {% if responseDefence is defined and responseDefence is not empty %}
      <tr>
        <td class="no-border" colspan="2"><strong>Why they dispute the claim</strong></td>
      </tr>
      <tr class="no-border">
        <td colspan="2" class="single-cell">
          <ol class="enumerate">
            {% for responseDefenceLine in responseDefence %}
            <li>{{ responseDefenceLine }}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
      {% endif %}
      {% endif %}

      {% if events is defined and events is not empty %}
      <tr>
        <td colspan="2" style="white-space: pre-line"><strong>Defendant&#8217;s timeline of what happened</strong></td>
      </tr>
      {% for event in events %}
      <tr class="subsection no-border">
        <td class="no-border single-cell">
          {{ event.date | trim }}
        </td>
        <td class="no-border single-cell">
          {{ event.description | trim }}
        </td>
      </tr>
      {% endfor %}
      {% endif %}

      {% if timelineComment is defined and timelineComment is not empty %}
      <tr class="no-border">
        <td><strong>Comments about claimant&#8217;s timeline</strong></td>
        <td>
          {{ timelineComment }}
        </td>
      </tr>
      {% endif %}

      {% if evidences is defined and evidences is not empty %}
      <tr>
        <td colspan="2" style="white-space: pre-line"><strong>Defendant&#8217;s evidence</strong></td>
      </tr>
      {% for row in evidences %}
      <tr class="subsection no-border">
        <td class="no-border single-cell">
          {{ row.type | trim }}
        </td>
        <td class="no-border single-cell">
          {{ row.description | trim }}
        </td>
      </tr>
      {% endfor %}
      {% endif %}

      {% if evidenceComment is defined and evidenceComment is not empty %}
      <tr class="no-border">
        <td><strong>Comments about claimant&#8217;s evidence</strong></td>
        <td>
          {{ evidenceComment }}
        </td>
      </tr>
      {% endif %}

    </table>
  </div>
</div>

{% if responseType == "FULL_ADMISSION" or (responseType == "PART_ADMISSION" and paymentIntentionIsPresent)%}
<div class="section">
  <div class="section-heading">
    <strong>How the defendant will pay
      {% if responseType == "PART_ADMISSION" %}
      {{ amount }}
      {% endif %}
    </strong>
  </div>
  <div class="section-body">
    <table>
      {% if repaymentPlan is defined and repaymentPlan.repaymentOption == "By instalments" %}
      <tr class="no-border">
        <td><strong>First payment by:</strong></td>
        <td>
          {{ repaymentPlan.firstPaymentDate }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Regular payments of</strong></td>
        <td>
          {{ repaymentPlan.instalmentAmount }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Frequency of payments</strong></td>
        <td>
          {{ repaymentPlan.paymentSchedule }}
        </td>
      </tr>
      {% endif %}

      <tr class="no-border">
        <td><strong>Final payment by:</strong></td>
        <td>
          {{ whenWillTheyFinishPaying }}
        </td>
      </tr>

      {% if statementOfMeans is defined %}
      <tr class="no-border">
        <td><strong>Reason they can&#8217;t pay the full amount immediately</strong></td>
        <td>
          {{ statementOfMeans.reason }}
        </td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>

{% if statementOfMeans is defined  and (paymentOption == 'By instalments' or paymentOption == 'By a set date') %}
<div class="section">
  <div class="section-heading">
    <strong>The defendant&#8217;s financial details</strong>
  </div>
  <div class="section-body">
    <table>
      <tr class="no-border">
        <td><strong>Where they live</strong></td>
        <td>
          {{ residenceTypeDescription }}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Children</strong></td>
      </tr>
      <tr class="no-border">
        <td><strong>Children living with them</strong></td>
        <td>
          {{ children is defined and children is not empty ? "Yes" : "No" }}
        </td>
      </tr>
      {% for child in children | default([]) %}
      <tr class="no-border">
        <td>
          {{ child.ageGroupType }}
        </td>
        <td>
          {{ child.numberOfChildren }}
        </td>
      </tr>
      {% if child.ageGroupType equals 'BETWEEN_16_AND_19' %}
      <tr>
        <td><strong>Children aged 16 to 19 in full-time education or training</strong></td>
        <td>
          {{ child.numberOfChildrenLivingWithYou }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}

      {% if maintainedChildren is defined %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Maintenance</strong></td>
      </tr>
      <tr class="no-border">
        <td><strong>Number of children</strong></td>
        <td>
          {{ maintainedChildren }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Financial support</strong></td>
      </tr>
      <tr class="no-border">
        <td><strong>Financial support for anyone else</strong></td>
        <td>
          {{ otherDependants is defined ? "Yes" : "No" }}
        </td>
      </tr>
      {% if otherDependants is defined %}
      <tr class="no-border">
        <td><strong>Number of people</strong></td>
        <td>
          {{ otherDependants.numberOfPeople }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Give details</strong></td>
        <td>
          {{ otherDependants.details }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Employment details</strong></td>
      </tr>
      <tr class="no-border">
        <td><strong>Currently working</strong></td>
        <td>
          {{ employment.selfEmployment is defined or employment.employers is not empty ? "Yes" : "No" }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Type of job</strong></td>
        <td>
          {{ jobType }}
        </td>
      </tr>
      {% for employer in employment.employers %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Employer</strong></td>
      </tr>
      <tr class="no-border">
        <td><strong>Employer name</strong></td>
        <td>
          {{ employer.name }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Job title</strong></td>
        <td>
          {{ employer.jobTitle }}
        </td>
      </tr>
      {% endfor %}

      {% if selfEmployment is defined %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Self-employment details</strong></td>
      </tr>
      <tr class="no-border">
        <td><strong>Job title</strong></td>
        <td>
          {{ selfEmployment.jobTitle }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Annual turnover</strong></td>
        <td>
          {{ selfEmployment.annualTurnover }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Behind on tax payments</strong></td>
        <td>
          {{ onTaxPayments is defined ? "Yes" : "No" }}
        </td>
      </tr>
      {% if onTaxPayments is defined %}
      <tr class="no-border">
        <td><strong>Amount of tax they owe</strong></td>
        <td>
          {{ onTaxPayments.amountYouOwe }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Reason</strong></td>
        <td>
          {{ onTaxPayments.reason }}
        </td>
      </tr>
      {% endif %}
      {% endif %}

      <tr>
        <td><strong>Bank and savings accounts</strong></td>
        {% if bankAccounts is defined and bankAccounts is not empty %}
      </tr>
      {% for bankAccount in bankAccounts %}
      <tr class="no-border">
        <td><strong>{% if loop.length > 1 %}{{ loop.index + 1 }}. {% endif %}Type of account</strong></td>
        <td>
          {{ bankAccount.type }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Balance</strong></td>
        <td>
          {{ bankAccount.balance }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Joint account</strong></td>
        <td>
          {{ bankAccount.joint ? "Yes" : "No" }}
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <td>None</td>
      </tr>
      {% endif %}

      {% if incomes is defined and incomes is not empty %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Monthly income</strong></td>
      </tr>
      {% for income in incomes %}
      <tr class="no-border">
        <td>
          {{ income.type }}
        </td>
        <td>
          {{ income.amount }}
        </td>
      </tr>
      {% endfor %}
      {% endif %}

      {% if expenses is defined and expenses is not empty %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Monthly expenses</strong></td>
      </tr>
      {% for expense in expenses %}
      <tr class="no-border">
        <td>
          {{ expense.type }}
        </td>
        <td>
          {{ expense.amount }}
        </td>
      </tr>
      {% endfor %}
      {% endif %}

      <tr>
        <td colspan="2" class="keep-white-space"><strong>Debts</strong></td>
      </tr>
      <tr class="no-border">
        <td><strong>Defendant has debts</strong></td>
        <td>
          {{ debts is defined and debts is not empty ? "Yes" : "No" }}
        </td>
      </tr>
      {% for debt in debts | default([]) %}
      <tr class="no-border">
        <td><strong>{% if loop.length > 1 %}{{ loop.index + 1 }}. {% endif %}Debt</strong></td>
        <td>
          {{ debt.description }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Total owed</strong></td>
        <td>
          {{ debt.totalOwed }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Monthly payments</strong></td>
        <td>
          {{ debt.monthlyPayments }}
        </td>
      </tr>
      {% endfor %}

      <tr>
        <td colspan="2" class="keep-white-space"><strong>Court orders</strong></td>
      </tr>
      <tr class="no-border">
        <td><strong>Court ordered defendant to pay someone else</strong></td>
        <td>
          {{ courtOrders is defined and courtOrders is not empty ? "Yes" : "No" }}
        </td>
      </tr>
      {% for courtOrder in courtOrders | default([]) %}
      <tr class="no-border">
        <td><strong>Details about court orders</strong></td>
        <td>
          {{ courtOrder.monthlyInstalmentAmount }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Amount they owe</strong></td>
        <td>
          {{ courtOrder.amountOwed }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% endif %}

{% if mediation is defined %}
<div class="section">
  <div class="section-heading">
    <strong>Mediation</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td><strong>Willing to try mediation</strong></td>
        <td>
          {{ mediation ? "Yes" : "No" }}
        </td>
      </tr>
    </table>
  </div>
</div>
{% endif %}

<div class="section">
  <div class="section-heading">
    <strong>Statement of truth</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td></td>
        <td class="no-border no-padding-right">
          I believe the facts stated in this response are true.
        </td>
      </tr>
      {% if signerName is not defined or signerName is empty %}
      <tr class="no-border">
        <td></td>
        <td class="no-border">{{ defendant.fullName }}</td>
      </tr>
      {% endif %}

      {% if signerName is defined and signerName is not empty %}
      <tr class="no-border">
        <td class="no-border"></td>
        <td class="no-border"><strong>Company: </strong> {{ defendant.businessName }}</td>
      </tr>
      <tr class="no-border">
        <td class="no-border"></td>
        <td class="no-border"><strong>Name: </strong> {{ signerName }}</td>
      </tr>
      <tr class="no-border">
        <td class="no-border"></td>
        <td class="no-border"><strong>Role: </strong>{{ signerRole }}</td>
      </tr>
      {% endif %}
      <tr class="no-border">
        <td class="no-border"></td>
        <td class="no-border">{{ defenceSubmittedDate }}</td>
      </tr>
    </table>
  </div>
</div>

{% if responseType equals "FULL_DEFENCE" %}
<div class="section">
  <h3>What happens next</h3>
</div>

<div class="section-body">
  <table>
    <tr>
      <td><strong>Settle the claim</strong></td>
      <td><p>
        Unless you&#8217;ve been asked not to, you can still contact defendant directly.
        If you can reach an agreement you may not have to go to a hearing.
      </p></td>
    </tr>
    <tr>
      <td><strong>Mediation</strong></td>
      <td>
        <p>If the defendant has asked for mediation then the claimant will be asked if they want to mediate.</p>
        <p>
          If the defendant hasn&#8217;t asked for mediation then the case will be reviewed by a judge and might go to a
          hearing. The claimant and defendant will be contacted if a hearing date is scheduled and it will be explained
          what they need to do to prepare.
        </p>
      </td>
    </tr>
  </table>
</div>
{% endif %}

{% if hearingContent is defined %}
<div class="dqSection">
  <header>
    <table>
      <tr>
        <td colspan="2" class="spacing-bottom"><h2 class="normal-font">Directions Questionnaire Online</h2></td>
      </tr>
      <tr>
        <td colspan="2"><p>In the County Court Business Centre</p></td>
      </tr>
      <tr>
        <td colspan="2" class="spacing-bottom"><p>Online Civil Money Claims</p></td>
      </tr>
      <tr>
        <td colspan="2"><p><strong>Claim number: </strong>{{ claim.referenceNumber }}</p></td>
      </tr>
      <tr>
        <td colspan="2"><p><strong>Issued on: </strong> {{ claim.issuedOn }}</p></td>
      </tr>
      <tr>
        <td colspan="2" class="spacing-bottom"><p><strong>Response received on: </strong> {{ defenceSubmittedOn }}</p>
        </td>
      </tr>
    </table>
  </header>
  <table style="width: 80%" class="new-dq">
    <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium" id="name">
          <span>A</span> Your details - Defendant
        </h2>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div>
          <strong>Name:</strong></div>
      </td>
      <td>
        <div>{{ defendant.fullName }}</div>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>
        Address:
      </td>
      <td>
        <div>
          {{ defendant.address.line1 }}
          <br/>
          {% if defendant.address.line2 is defined and defendant.address.line2 is not empty %}
          {{ defendant.address.line2 }}
          <br/>
          {% endif %}
          {% if defendant.address.line3 is defined and defendant.address.line3 is not empty %}
          {{ defendant.address.line3 }}
          <br/>
          {% endif %}
          {{ defendant.address.city }}
          <br/>
          {{ defendant.address.postcode }}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          Date of birth:
        </div>
      </td>
      <td>
        <div>
          {{ defendant.dateOfBirth }}
        </div>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td>
        <div>
          Telephone:
        </div>
      </td>
      <td>
        <div>
          {% if defendant.mobilePhone is defined and defendant.mobilePhone is not empty %}
          {{ defendant.mobilePhone }}
          {% endif %}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          Email:
        </div>
      </td>
      <td>
        <div>{{ defendant.email }}</div>
      </td>
    </tr>
    </tbody>
  </table>

  <table style="width: 80%" class="new-dq">
    <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
          <span>B</span> About the hearing
        </h2>
      </th>
    </tr>
    </thead>
    <tbody>

    {% if hearingContent.supportRequired is not empty %}
    <tr>
      <td>
        <div>
          Support required for a hearing
        </div>
      </td>
      <td>
        <div>
          {% for support in hearingContent.supportRequired %}
          {{ support }}<br/>
          {% endfor %}
        </div>
      </td>
    </tr>
    {% endif %}

    {% if hearingContent.hearingLocation is not empty %}
    <tr>
      <td><b>Hearing location</b></td>
    </tr>
    <tr>
      <td>
        Preferred hearing centre
      </td>
      <td>
        <div>{{ hearingContent.hearingLocation }}</div>
      </td>
    </tr>
    {% endif %}

    {% if hearingContent.locationReason is not empty %}
    <tr>
      <td>
        <div>
          Briefly explain your reasons
        </div>
      </td>
      <td>
        <div>
          {{ hearingContent.locationReason }}
        </div>
      </td>
    </tr>
    {% endif %}

    {% if hearingContent.expertRequired equals "Yes" %}
      <tr>
        <td><b>Expert evidence</b></td>
      </tr>

      {% if hearingContent.hasExpertReport equals "Yes" %}
        <tr>
          <td>
            Have you already got a report written by an expert?
          </td>
          <td>
            <div>
              {{ hearingContent.hasExpertReport }}
            </div>
          </td>
        </tr>

        {% for report in hearingContent.expertReports %}
        <tr>
          <td>
            <div>
              Report {{ loop.index + 1 }}
            </div>
          </td>
          <td>
            <div>
              {{ report.expertName }} <br/>
              {{ report.expertReportDate }}
            </div>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>
            Have you already got a report written by an expert?
          </td>
          <td>
            <div>
              {{ hearingContent.hasExpertReport }}
            </div>
          </td>
        </tr>

        {% if hearingContent.courtPermissionForExpertReport is not empty %}
          <tr>
            <td>
              <div>
                Do you want the court's permission to hire an expert?
              </div>
            </td>
            <td>
              <div>
                {{ hearingContent.courtPermissionForExpertReport | capitalize }}
              </div>
            </td>
          </tr>
        {% endif %}

        {% if hearingContent.expertExamineNeeded is not empty %}
          <tr>
            <td>
              <div>
                Does the claim involve something an expert can still examine?
              </div>
            </td>
            <td>
              <div>
                {{ hearingContent.expertExamineNeeded }}
              </div>
            </td>
          </tr>

          {% if hearingContent.whatToExamine is not empty %}
            <tr>
              <td>
                <div>
                  What is there to examine?
                </div>
              </td>
              <td>
                <div>
                  {{ hearingContent.whatToExamine }}
                </div>
              </td>
            </tr>
          {% endif %}

          {% if hearingContent.reasonWhyExpertAdvice is not empty %}
            <tr>
              <td>
                <div>
                  Briefly explain why you believe an expert is needed
                </div>
              </td>
              <td>
                <div>
                  {{ hearingContent.reasonWhyExpertAdvice }}
                </div>
              </td>
            </tr>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}

    <tr>
      <td><b>Witnesses</b></td>
    </tr>
    <tr>
      <td>
        <div>
          Do you want to give evidence?
        </div>
      </td>
      <td>
        <div>
          {{ hearingContent.witness.selfWitness | capitalize }}
        </div>
      </td>

    </tr>


    <tr>
      <td>
        <div>
          Other witnesses
        </div>
      </td>
      <td>
        {% if hearingContent.witness.noOfOtherWitness is not empty %}
        <div>{{ hearingContent.witness.noOfOtherWitness }}</div>
        {% else %}
        <div>None</div>
        {% endif %}
      </td>
    </tr>

    <tr>
      <td>
        <div>Dates unavailable</div>
      </td>
      <td>
        {% if hearingContent.unavailableDates is not empty  %}
        <div>
          {% for unavailableDate in hearingContent.unavailableDates %}
          {{ unavailableDate }} <br/>
          {% endfor %}
        </div>
        {% else %}
        <div>None</div>
        {% endif %}
      </td>
    </tr>

    </tbody>
  </table>

  <table style="width: 80%" class="new-dq">
    <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
          <span>C</span> Signature
        </h2>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Signed</td>
      <td>
        <div>
          {% if signerName is not defined or signerName is empty %}
          {{ defendant.fullName }}
          {% endif %}

          {% if signerName is defined and signerName is not empty %}

          <strong>Company:</strong> {{ defendant.businessName }} <br/>
          <strong>Name:</strong> {{ signerName }}<br/>
          <strong>Role:</strong> {{ signerRole }}
          {% endif %}

          <br/>{{ defenceSubmittedOn }}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
{% endif %}
</body>
</html>
