.DS_store

.gradle
build
classes
out
*.ipr
*.iml
*.iws

.idea

src/main/resources/version
java-rpm-packaging/

.gradletasknamecache

.sonarlint
.scannerwork
.testcontainers*

.classpath
.project
.settings/
ccd-adapter/.classpath
ccd-adapter/.project
ccd-adapter/.settings/
ccd-claim-migration/.classpath
ccd-claim-migration/.project
ccd-claim-migration/.settings/
domain-model/.classpath
domain-model/.project
domain-model/.settings/
domain-sample-data/.classpath
domain-sample-data/.project
domain-sample-data/.settings/
email-client/.classpath
email-client/.project
email-client/.settings/
email-client/bin/
job-scheduler/.classpath
job-scheduler/.project
job-scheduler/.settings/
job-scheduler/bin/
rpa-mapper/.classpath
rpa-mapper/.project
rpa-mapper/.settings/
