---
server:
  port: 4400

management:
  endpoints:
    web:
      exposure:
        include: '*'
      base-path: /
  endpoint:
    health:
      show-details: always
async:
  max:
    threadPool:
      size: 50

spring:
  main:
    allow-bean-definition-overriding: true  # https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes#bean-overriding
  application:
    name: 'claim-store'
  mail:
    default-encoding: UTF-8
    test-connection: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 4000000KB
      max-request-size: 4000000KB
  jackson:
    default-property-inclusion: non_null
  datasource:
    driverClassName: org.postgresql.Driver
    username: ${CMC_DB_USERNAME:-}
    password: ${CMC_DB_PASSWORD:-}
    url: jdbc:postgresql://${CMC_DB_HOST:}:${CMC_DB_PORT:}/${CMC_DB_NAME:cmc}${CMC_DB_CONNECTION_OPTIONS:}

quartzProperties:
  org.quartz:
    scheduler:
      instanceId: AUTO
    jobStore:
      isClustered: true
      class: org.quartz.impl.jdbcjobstore.JobStoreTX
      driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
      dataSource: dataSource
      clusterCheckinInterval: 2000
    threadPool:
      class: org.quartz.simpl.SimpleThreadPool
      threadCount: 8

idam:
  api:
    url: "http://localhost:8080"
  s2s-auth:
    url: "http://localhost:4552"
    totp_secret: "AAAAAAAAAAAAAAAA"
    microservice: "cmc_claim_store"

courtfinder:
  api:
    url: "https://courttribunalfinder.service.gov.uk"

fees:
  api:
    url: ${FEES_URL:}
    service: "civil money claims"
    jurisdiction1: "civil"
    jurisdiction2: "county court"

payments:
  returnUrlPattern: "${FRONTEND_BASE_URL:}/claim/%s/finish-payment"
  api:
    url: ${PAY_URL:}
    service: "CMC"
    siteId: "AA00"
    currency: "GBP"
    description: "Money Claims fees"

pdf-service:
  url: "${PDF_SERVICE_URL:}"

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL}
  userRoles: ${DOCUMENT_MANAGEMENT_USERROLES}

core_case_data:
  api:
    url: "http://localhost:4452"

bankHolidays:
  api:
    url: "https://www.gov.uk"

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:false}
  templateId: "CV-CMC-GOR-ENG-0004-1.docx"
  judgeTemplateId: "CV-CMC-GOR-ENG-00219-1.docx"

nonworking-days:
  datafile: ${NONWORKINGDAYS_DATAFILE:/data/non-working_days.dat}

pilot-courts:
  datafile: "/data/pilot-courts.csv"

milo:
  schedule: "${MILO_CSV_SCHEDULE:-}"
  recipient: ${MILO_CSV_RECIPIENT:}
  sender: ${MILO_CSV_SENDER:}

schedule:
  state-transition:
    waiting-transfer: ""
    stay-claim: ""

dateCalculations:
  endOfBusinessDayHour: 16
  serviceDays: 5
  responseDays: 14
  requestedAdditionalTimeInDays: 14
  claimantResponseDays: 28
  freeMediationTimeForDecisionInDays: 5
  offerMadeTimeForResponseInDays: 14
  lastResponseReminderDay: 1
  firstResponseReminderDay: 5
  stayClaimDeadlineInDays: 33
  waitingTransferDeadlineInDays: 19
  claimantCcjReminderDays: 10

notifications:
  govNotifyApiKey: ${GOV_NOTIFY_API_KEY:}
  frontendBaseUrl: "${FRONTEND_BASE_URL:}"
  respondToClaimUrl: "${RESPOND_TO_CLAIM_URL:}"
  templates:
    email:
      claimantClaimIssued: "f034e121-e9d4-441a-91b9-52d0c7d14d73"
      defendantClaimIssued: "b261ef40-ca55-4f36-b8ff-7f1f34347058"
      defendantResponseIssued: "128bfa11-0b09-4162-bb1e-36fa167af191"
      defendantResponseNeeded: "15f9985a-1775-4f64-a6c7-7616bdbabb1c"
      claimantResponseIssued: "c82ab455-4786-4199-a0f3-e9e159b345f1"
      staffMoreTimeRequested: "23db60df-1dbb-405a-ab95-988b635455d1"
      claimantMoreTimeRequested: "f325bc6b-2169-4014-9a3c-32100317c6ed"
      defendantMoreTimeRequested: "07ffde84-b1d7-4ec0-b2db-406b73cd9080"
      representativeClaimIssued: "f2b21b9c-fc4a-4589-807b-3156dbf5bf01"
      claimantCCJRequested: "5f4d1c44-1e56-48fd-afe1-f1bd2e575819"
      claimantCCJReminder: "3b0090ec-c94d-4a54-a04a-2d8999da258d"
      defendantOfferMade: "c65b9a5a-6e18-4f74-ba5e-4e49a3683153"
      claimantOfferMade: "b5e007a9-1f8b-48f5-bb5b-00b3a099d416"
      offerAcceptedByClaimantEmailToClaimant: "f1e66067-0ccf-441d-bad4-69fe8d5c4121"
      offerAcceptedByClaimantEmailToDefendant: "aa5c927f-1a4c-47e3-94d9-6036b89d81b9"
      offerRejectedByClaimantEmailToClaimant: "13d8af14-ce13-4d87-940c-f86e0cb4d1f0"
      offerRejectedByClaimantEmailToDefendant: "46be31b4-6af8-46b2-9325-80ff63e78535"
      offerCounterSignedEmailToOriginator: "9d1ddac9-d6a7-41f3-bfd4-dcfbcb61dcf1"
      offerCounterSignedEmailToOtherParty: "cfde3889-e202-4d70-bc64-f54048616be3"
      claimantResponseWithMediationIssued: "287bb764-075f-4c7a-8049-ec9f7cd83812"
      claimantResponseWithNoMediationIssued: "9c740162-7516-4954-a023-6c1e48ba02f6"
      claimantResponseForDqPilotWithNoMediationIssued: "9a2576b1-ce16-4b0c-9763-dd28aaf2e9d2"
      defendantResponseWithNoMediationIssued: "613ca230-ab62-4370-bacd-ecc65b92132a"
      defendantResponseForDqPilotWithNoMediationIssued: "be214a10-d10b-4d18-9047-d8d064820171"
      responseByClaimantEmailToDefendant: "7997b719-cfc3-44ac-8fb6-b70ec409c68f"
      claimantSaysDefendantHasPaidInFull: "221e3923-1321-413a-a02e-ee8c94816cbf"
      claimantRequestedInterlocutoryJudgement: "dda355a4-204c-4172-826a-86c6f4e91e74"
      redeterminationEmailToClaimant: "6236ce5c-fc18-4a67-b495-57159f3936b4"
      settlementRejectedEmailToClaimant: "44e8ed3e-b60c-4e5d-a5e5-1e2f4bf7637c"
      settlementRejectedEmailToDefendant: "237c8d29-531e-4c23-8a13-1d5f2b2b55b7"
      claimantSignedSettlementAgreementToDefendant: "d66f1f81-ac86-41ae-9497-3e96cdd35a4e"
      claimantSignedSettlementAgreementToClaimant: "05d211d9-74d3-4fdb-b152-c4689828d170"
      defendantSignedSettlementAgreementToDefendant: "ba0c20ee-810e-4fc1-874f-6bdb18d2259b"
      defendantSignedSettlementAgreementToClaimant: "59f982a7-264e-4ce1-93bf-25a9fb354dc9"
      defendantAdmissionResponseToClaimant: "fce1eaa7-baa9-4b82-b1bb-119f9a2ffae3"
      claimantRejectedPartAdmitOrStatesPaidEmailToDefendant: "e6966b30-8c2f-4107-b3fa-1ae00594a672"
      claimantLegalOrderDrawn: "4fbb9120-65ae-417e-97c4-158189be910a"
      defendantLegalOrderDrawn: "4bc101c9-1cbd-45f6-849f-b8bafc2ca535"
      defendantFreeMediationConfirmation: "7dd5cf7c-c548-4a75-9e0a-aa3ec04d3151"
      reviewOrderEmailToClaimant: "3bea01fb-bfc5-4354-841c-432d80489362"
      reviewOrderEmailToDefendant: "d568fc1e-f1fc-441a-94da-6506df12cae6"
      claimantIntentionToProceedForPaperDq: "ecd5ccc3-9630-4c70-b225-c6132f02efe1"
      claimantIntentionToProceedForOnlineDq: "200830e5-3bbf-4a43-864a-58ff4c2e1ff2"
      claimantSettledAfterFullDefence: "e486e5b8-73a3-4585-ae0e-74b3f1bced77"
      claimantMediationSuccess: "64fa3dbe-1a56-4166-9f70-9291dbf9af00"
      defendantMediationSuccess: "f1a542ca-7758-4e08-bc5e-b9a040bf6460"
      claimantReadyForTransfer: "50c8bdd3-f68d-44cc-b46f-72e9ed1f55a6"
      defendantReadyForTransfer: "487fdd65-131e-4547-a3ed-f632872fe957"
      claimantMediationFailureOfflineDQ: "55d06073-0b81-4daf-a3b4-1698c7810189"
      defendantMediationFailureOfflineDQ: "15a38762-2141-4a70-8cc9-22a27db985bc"

staff-notifications:
  sender:
  recipient:

feature_toggles:
  watermark_pdf: false
  reminderEmails: false
  save_claim_state_enabled: false

feign:
  httpclient:
    enabled: true

claim-store:
  test-support:
    enabled: true

oauth2:
  client:
    id: 'cmc_citizen'
---
spring:
  profiles: 'aat'

test-instance-uri: "${TEST_URL:}"
smoke-test-citizen:
  password: "${SMOKE_TEST_USER_PASSWORD:}"
smoke-test-solicitor:
  password: "${SMOKE_TEST_USER_PASSWORD:}"
