---
server:
  port: 4400

management:
  endpoints:
    web:
      exposure:
        include: '*'
      base-path: /
  endpoint:
    health:
      show-details: always

spring:
  application:
    name: 'claim-store'
  mail:
    default-encoding: UTF-8
    test-connection: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 4000000KB
      max-request-size: 4000000KB
  jackson:
    default-property-inclusion: non_null
  datasource:
    driverClassName: org.postgresql.Driver
    username: ${CLAIM_STORE_DB_USERNAME:-}
    password: ${CLAIM_STORE_DB_PASSWORD:-}
    jdbc-url: jdbc:postgresql://${CLAIM_STORE_DB_HOST:}:${CLAIM_STORE_DB_PORT:}/${CLAIM_STORE_DB_NAME:claimstore}${CLAIM_STORE_DB_CONNECTION_OPTIONS:}

idam:
  api:
    url: "http://localhost:8080"
  s2s-auth:
    url: "http://localhost:4552"
    totp_secret: "AAAAAAAAAAAAAAAA"
    microservice: "cmc_claim_store"

pdf-service:
  url: "${PDF_SERVICE_URL:}"

bankHolidays:
  api:
    url: "https://www.gov.uk"

dateCalculations:
  endOfBusinessDayHour: 16
  serviceDays: 5
  responseDays: 14
  requestedAdditionalTimeInDays: 14
  freeMediationTimeForDecisionInDays: 5
  offerMadeTimeForResponseInDays: 14

notifications:
  govNotifyApiKey: ${GOV_NOTIFY_API_KEY:}
  frontendBaseUrl: "${FRONTEND_BASE_URL:}"
  respondToClaimUrl: "${RESPOND_TO_CLAIM_URL:}"
  templates:
    email:
      claimantClaimIssued: "58e645b8-bcd6-4462-822c-f17da9dd3dc7"
      defendantClaimIssued: "49027a97-412e-45ee-86df-bf2fa6df6d8c"
      defendantResponseIssuedToIndividual: "128bfa11-0b09-4162-bb1e-36fa167af191"
      defendantResponseIssuedToCompany: "611ee21b-0063-4fee-a344-393b73868486"
      claimantResponseIssued: "c82ab455-4786-4199-a0f3-e9e159b345f1"
      staffMoreTimeRequested: "23db60df-1dbb-405a-ab95-988b635455d1"
      claimantMoreTimeRequested: "f325bc6b-2169-4014-9a3c-32100317c6ed"
      defendantMoreTimeRequested: "07ffde84-b1d7-4ec0-b2db-406b73cd9080"
      representativeClaimIssued: "f2b21b9c-fc4a-4589-807b-3156dbf5bf01"
      claimantCCJRequested: "5f4d1c44-1e56-48fd-afe1-f1bd2e575819"
      defendantOfferMade: "c65b9a5a-6e18-4f74-ba5e-4e49a3683153"
      claimantOfferMade: "b5e007a9-1f8b-48f5-bb5b-00b3a099d416"
      offerAcceptedByClaimantEmailToClaimant: "f1e66067-0ccf-441d-bad4-69fe8d5c4121"
      offerAcceptedByClaimantEmailToDefendant: "aa5c927f-1a4c-47e3-94d9-6036b89d81b9"
      offerRejectedByClaimantEmailToClaimant: "13d8af14-ce13-4d87-940c-f86e0cb4d1f0"
      offerRejectedByClaimantEmailToDefendant: "46be31b4-6af8-46b2-9325-80ff63e78535"
      offerCounterSignedEmailToOriginator: "9d1ddac9-d6a7-41f3-bfd4-dcfbcb61dcf1"
      offerCounterSignedEmailToOtherParty: "cfde3889-e202-4d70-bc64-f54048616be3"

staff-notifications:
  sender:
  recipient:

rpa-notifications:
  sender:
  recipient:

feature_toggles:
  watermark_pdf: false
  emailToStaff: true

feign:
  httpclient:
    enabled: true

claim-store:
  test-support:
    enabled: true

oauth2:
 client:
  id: 'cmc_citizen'
---
spring:
  profiles: 'aat'

test-instance-uri: "${TEST_URL:}"
smoke-test-citizen:
  password: "${SMOKE_TEST_USER_PASSWORD:}"
smoke-test-solicitor:
  password: "${SMOKE_TEST_USER_PASSWORD:}"
