<!--suppress HtmlRequiredLangAttribute -->
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Draft Money Claim</title>
  <style>
    @page :first {
      @top-right {
        content: "Draft claim Form";
        font-size: 18px;
        /*noinspection CssNoGenericFontName*/
        font-family: "Open Sans";
      }
    }

    @page {
      size: 8.5in 11in;
      margin: 8%;

      @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        font-size: 11px;
      }
    }

    html {
      /*noinspection CssNoGenericFontName*/
      font-family: "Open Sans";
    }

    .keep-white-space {
      white-space: pre-line
    }

    body {
      counter-reset: section;
    }

    .section {
      margin-bottom: 25px;
    }

    .section .section-heading {
      margin-bottom: 10px;
    }

    .section .section-heading strong:before {
      counter-increment: section;
      content: counter(section) ". ";
    }

    .no-border tr, .no-border th, .no-border td {
      border: none;
    }

    table {
      width: 100%;
      border-spacing: 0;
    }

    table td {
      border-top: 1px solid #999;
      padding: 5px;
    }

    .custom_header {
      border-top: 1px solid #999;
      padding-left: 0px;
    }

    table tr:last-child td {
      border-bottom: 1px solid #999;
    }

    table td:first-child {
      width: 220px;
      vertical-align: top;
    }

    table td:last-child {
      width: auto;
    }

    header table td, header table tr:last-child td {
      border: none;
    }

    header p, header h2 {
      text-align: right;
      margin: 0;
      padding: 0;
    }

    header td {
      margin: 0;
      padding: 0;
    }

    ol.enumerate {
      margin-top: 0;
      margin-left: 0;
      counter-reset: enumerated;
      list-style: none;
    }

    ol.enumerate li::before {
      content: counter(section) "." counter(enumerated) ". ";
      counter-increment: enumerated;
      color: #888;
    }

    ol.enumerate li {
      margin-bottom: 5px;
    }

    @media print {
      td {
        word-wrap: break-word;
      }
    }

  </style>
</head>
<body>

<div class="section">
  <div class="section-heading">
    <strong>Claimant&#8217;s details</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td>
          {% if claimant.partyType == 'on behalf of a company' %}
          {% set claimantNameLabel = 'Company name' %}
          {% elseif claimant.partyType == 'on behalf of an organisation' %}
          {% set claimantNameLabel = 'Organisation name' %}
          {% else %}
          {% set claimantNameLabel = 'Name' %}
          {% endif %}
          <strong>{{ claimantNameLabel }}:</strong>
        </td>
        <td>
          {{ claimant.fullName }}
        </td>
      </tr>
      {% if claimant.contactPerson is defined and claimant.contactPerson is not empty %}
      <tr>
        <td><strong>Contact person:</strong></td>
        <td>
          {{ claimant.contactPerson }}
        </td>
      </tr>
      {% endif %}
      {% if claimant.businessName is defined and claimant.businessName is not empty %}
      <tr>
        <td><strong>Business name:</strong></td>
        <td>
          Trading as {{ claimant.businessName }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Address:</strong></td>
        <td>
          {{ claimant.address.line1 }}
          <br/>
          {% if claimant.address.line2 is defined and claimant.address.line2 is not empty %}
          {{ claimant.address.line2 }}
          <br/>
          {% endif %}
          {% if claimant.address.line3 is defined and claimant.address.line3 is not empty %}
          {{ claimant.address.line3 }}
          <br/>
          {% endif %}
          {{ claimant.address.city }}
          <br/>
          {{ claimant.address.postcode }}
        </td>
      </tr>
      {% if claimant.correspondenceAddress is defined and claimant.correspondenceAddress is not empty %}
      <tr>
        <td><strong>Correspondence address:</strong></td>
        <td>
          {{ claimant.correspondenceAddress.line1}}
          <br/>
          {% if claimant.correspondenceAddress.line2 is defined and claimant.correspondenceAddress.line2 is not empty %}
          {{ claimant.correspondenceAddress.line2 }}
          <br/>
          {% endif %}
          {% if claimant.correspondenceAddress.line3 is defined and claimant.correspondenceAddress.line3 is not empty %}
          {{ claimant.correspondenceAddress.line3 }}
          <br/>
          {% endif %}
          {{ claimant.correspondenceAddress.city }}
          <br/>
          {{ claimant.correspondenceAddress.postcode }}
        </td>
      </tr>
      {% endif %}
      {% if claimant.dateOfBirth is defined and claimant.dateOfBirth is not empty %}
      <tr>
        <td><strong>Date of birth:</strong></td>
        <td>
          {{ claimant.dateOfBirth }}
        </td>
      </tr>
      {% endif %}
      {% if claimant.phoneNumber is defined and claimant.phoneNumber is not empty %}
      <tr>
        <td><strong>Telephone:</strong></td>
        <td>
          {{ claimant.phoneNumber }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Email:</strong></td>
        <td>
          {{ claimant.email }}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="section">
  <div class="section-heading">
    <strong>Defendant&#8217;s details</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td><strong>Name:</strong></td>
        <td>
          {{ defendant.fullName }}
        </td>
      </tr>
      {% if defendant.contactPerson is defined and defendant.contactPerson is not empty %}
      <tr>
        <td><strong>Contact person:</strong></td>
        <td>
          {{ defendant.contactPerson }}
        </td>
      </tr>
      {% endif %}
      {% if defendant.businessName is defined and defendant.businessName is not empty %}
      <tr>
        <td><strong>Business name:</strong></td>
        <td>
          Trading as {{ defendant.businessName }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Address:</strong></td>
        <td>
          {{ defendant.address.line1 }}
          <br/>
          {% if defendant.address.line2 is defined and defendant.address.line2 is not empty %}
          {{ defendant.address.line2 }}
          <br/>
          {% endif %}
          {% if defendant.address.line3 is defined and defendant.address.line3 is not empty %}
          {{ defendant.address.line3 }}
          <br/>
          {% endif %}
          {{ defendant.address.city }}
          <br/>
          {{ defendant.address.postcode }}
        </td>
      </tr>
      {% if defendant.email is defined and defendant.email is not empty %}
      <tr>
        <td><strong>Email:</strong></td>
        <td>
          {{ defendant.email }}
        </td>
      </tr>
      {% endif %}
      {% if defendant.mobileNumber is defined and defendant.mobileNumber is not empty %}
      <tr>
        <td><strong>Phone:</strong></td>
        <td>
          {{ defendant.mobileNumber }}
        </td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>

<div class="section">
  <div class="section-heading">
    <strong>Claim</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Reason for claim:</strong><br/>
          <ol class="enumerate">
            {% for reasonLine in claim.reason %}
            <li>{{ reasonLine }}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
      {% if claim.events is defined %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Timeline of what happened</strong>:</td>
      </tr>
      {% for event in claim.events %}
      <tr class="no-border">
        <td>
          {{ event.date | trim }}
        </td>
        <td>
          {{ event.description | trim }}
        </td>
      </tr>
      {% endfor %}
      {% endif %}

      {% if claim.evidences is defined %}
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Evidence:</strong></td>
      </tr>
      {% for row in claim.evidences %}
      <tr class="no-border">
        <td>
          {{ row.type | trim }}
        </td>
        <td>
          {{ row.description | trim }}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </div>
</div>

<div class="section">
  <div class="section-heading">
    <strong>Claim amount details</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td colspan="2" class="keep-white-space"><strong>Claim amount items:</strong></td>
      </tr>
      {% for row in claim.amountBreakdown %}
      <tr class="no-border">
        <td>
          {{ row.reason | trim }}
        </td>
        <td>
          {{ row.amount }}
        </td>
      </tr>
      {% endfor %}
      {% if claim.interest is defined %}
      {% if claim.interest.type equals "BREAKDOWN" %}
      <tr>
        <td><strong>Total interest amount:</strong></td>
        <td>
          {{ claim.interest.interestBreakdown.totalAmount }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>How the interest was calculated:</strong></td>
        <td>
          {{ claim.interest.interestBreakdown.explanation }}
        </td>
      </tr>
      <tr>
        <td><strong>Interest end date:</strong></td>
        <td>
          {% if claim.interest.interestEndDateType equals "SUBMISSION" %}
          {{ claim.issuedOn }}
          {% else %}
          {{ claim.interest.dailyAmount }} per day until the claim is settled or judgment made.
          {% endif %}
        </td>
      </tr>
      {% else %}
      <tr>
        <td><strong>Interest rate claimed:</strong></td>
        <td>
          {{ claim.interest.rate }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Explanation:</strong></td>
        <td>
          {% if claim.interest.customRateReason is defined %}
          {{ claim.interest.customRateReason }}
          {% else %}
          The claimant reserves the right to claim interest under Section 69 of the County Courts Act 1984
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><strong>Date interest is claimed from:</strong></td>
        <td>
          {{ claim.interest.fromDate }}
        </td>
      </tr>
      <tr class="no-border">
        <td><strong>Explanation:</strong></td>
        <td>
          {% if claim.interest.startDateReason is defined %}
          {{ claim.interest.startDateReason }}
          {% else %}
          From the date the claim was issued
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><strong>Interest end date:</strong></td>
        <td>
          {% if claim.interest.submissionEndDate %}
          {{ claim.issuedOn }}
          {% else %}
          Interest will accrue at the daily rate of {{ claim.interest.dailyAmount }} up to the date of judgment
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% endif %}
    </table>
  </div>
</div>

<div class="section">
  <div class="section-heading">
    <strong>Total amount</strong>
  </div>
  <div class="section-body">
    <table>
      <tr>
        <td><strong>Claim amount:</strong></td>
        <td>
          {{ claim.claimAmount }}
        </td>
      </tr>
      {% if claim.interest is defined %}
      <tr>
        <td><strong>Total interest claimed to the date of submission:</strong></td>
        <td>
          {% if claim.interest.type equals "BREAKDOWN" %}
          {{ claim.interest.interestBreakdown.totalAmount }}
          {% else %}
          {{ claim.interest.amount }}
          {% endif %}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Total:</strong></td>
        <td>
          {{ claim.claimTotalAmount }}
        </td>
      </tr>
    </table>
  </div>
</div>
{% if claim.helpWithFeesNumber is defined %}
<div class="section">
  <div class="section-heading">
    <table>
      <tr class="section-body">
        <td class="custom_header"><strong>HwF reference number</strong></td>
        <td>{{ claim.helpWithFeesNumber }}</td>
      </tr>
    </table>
  </div>
</div>
{% endif %}
<div class="section">
  <div class="section-heading">
    <strong>Statement of truth</strong>
  </div>
  <table>
    <tr class="section-body">
      {% if claim.signerName is not defined or claim.signerName is empty %}
      <td></td>
      <td>
        <p>I believe that the facts stated in this claim form are true.</p>
        <p>I understand that proceedings for contempt of court may be brought against anyone who makes,
          or causes to be made, a false statement in a document verified by a statement of truth without
          an honest belief in its truth.</p>
        <p>{{ claimant.fullName }}</p>
        <p>{{ claim.issuedOn }}</p>
      </td>
      {% endif %}
      {% if claim.signerName is defined and claim.signerName is not empty %}
      <td></td>
      <td>
        <p>The claimant believes that the facts stated in this claim are true.</p>
        <p>I understand that proceedings for contempt of court may be brought against anyone who makes,
          or causes to be made, a false statement in a document verified by a statement of truth without an
          honest belief in its truth.</p>
      </td>
      {% endif %}
    </tr>
    {% if claim.signerName is defined and claim.signerName is not empty %}
    <tr>
      <td>
        <strong>Name:</strong>
      </td>
      <td>{{ claim.signerName }}</td>
    </tr>
    <tr>
      <td>
        <strong>Organisation:</strong>
      </td>
      {% if claimant.fullName is defined and claimant.fullName is not empty %}
      <td>{{ claimant.fullName }}</td>
      {% endif %}
      {% if claimant.businessName is defined and claimant.businessName is not empty %}
      <td>{{ claimant.businessName }}</td>
      {% endif %}
    </tr>
    <tr>
      <td>
        <strong>Position held:</strong>
      </td>
      <td>{{ claim.signerRole }}</td>
    </tr>
    {% endif %}
  </table>
</div>

</body>
</html>
