description: Helm chart for the HMCTS CMC Claim-Store service
name: cmc-claim-store
home: https://github.com/hmcts/cmc-claim-store
version: 0.1.0
maintainers:
  - name: HMCTS CMC Dev Team
    email: cmc-developers@HMCTS.NET
