apiVersion: v2
name: cmc-claim-store
home: https://github.com/hmcts/cmc-claim-store
version: 4.1.13
description: Helm chart for the HMCTS CMC Claim-Store service
# be aware when bumping version that it is used elsewhere, e.g.:
# chart-cmc - demo: https://github.com/hmcts/chart-cmc/tree/master/cmc
# flux - AAT AKS: https://github.com/hmcts/cnp-flux-config/blob/365e8ee13e20d4f66c925f5a0648db26dcad8872/k8s/aat/money-claims/claim-store/claim-store.yaml#L15
# prob other envs for flux ^^^
maintainers:
  - name: HMCTS CMC Dev Team
    email: cmc-developers@HMCTS.NET
dependencies:
  - name: java
    version: 2.18.1
    repository: '@hmctspublic'

  - name: postgresql
    version: 8.9.8
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled

  - name: ccd
    version: 4.3.2
    repository: '@hmctspublic'
    condition: ccd.enabled
