java:
  environment:
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-java.rpe
    IDAM_API_URL: https://preprod-idamapi.reform.hmcts.net:3511
    PDF_SERVICE_URL: http://cmc-pdf-service-java.rpe
    SEND_LETTER_URL: http://rpe-send-letter-service-java.rpe
    DOCUMENT_MANAGEMENT_URL: http://dm-store-java.ccd
    PAY_URL: http://payment-api-java.ccpay
    FEES_URL: http://fees-register-api-java.ccpay
    CLAIM_STORE_DB_HOST: preprod-data-lb.moneyclaim.reform.hmcts.net
    CLAIM_STORE_DB_CONNECTION_OPTIONS: '?sslmode=require'
    CMC_DB_USERNAME: 'cmc@cmc-aat'
    CMC_DB_HOST: cmc-aat.postgres.database.azure.com
    CMC_DB_CONNECTION_OPTIONS: '?sslmode=require'
    FRONTEND_BASE_URL: https://cmc-citizen-frontend.service.core-compute-aat.internal
    RESPOND_TO_CLAIM_URL: https://cmc-citizen-frontend.service.core-compute-aat.internal/first-contact/start
