java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  livenessFailureThreshold: 6
  livenessDelay: 75
  readinessDelay: 75
  environment:
    LOG_LEVEL: DEBUG
    CMC_DB_HOST: "{{ .Values.postgresql.releaseNameOverride}}"
    CMC_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
    CMC_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    CMC_DB_CONNECTION_OPTIONS: '?sslmode=allow'
    CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api
    OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
    RPA_NOTIFICATIONS_LEGALSEALEDCLAIMRECIPIENT: civilmoneyclaims+rpa-legal-sealedclaim-issued@gmail.com
    USER_TOKEN_CACHE_ENABLED: true
  postgresql:
    enabled: true
    releaseNameOverride: ${SERVICE_NAME}-postgresql
    image:
      tag: '11.6.0'
      registry: hmctspublic.azurecr.io
      repository: imported/bitnami/postgresql
    primary:
      persistence:
        enabled: false
      resources:
        requests:
          cpu: 25m
      initdb:
        scripts:
          init.sql: |
            CREATE DATABASE cmc WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "user-profile" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "role_assignment" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
    auth:
      username: hmcts
      password: hmcts

ccd:
  enabled: true
  ccd:
    s2s:
      enabled: false
    postgresql:
      enabled: false
    adminWeb:
      enabled: true

  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}

  global:
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    ccdAdminWebIngress: ccd-admin-web-${SERVICE_FQDN}
    ccdDefinitionStoreUrl: http://${SERVICE_NAME}-ccd-definition-store
    ccdUserProfileUrl: http://${SERVICE_NAME}-ccd-user-profile-api
    postgresUsername: hmcts
    postgresPassword: hmcts
    devMode: true

  ccd-admin-web:
    nodejs:
      image: hmctspublic.azurecr.io/ccd/admin-web:latest
      ingressHost: ccd-admin-web-${SERVICE_FQDN}
      keyVaults: []
      environment:
        IDAM_OAUTH2_AW_CLIENT_SECRET: ${ADMIN_WEB_IDAM_SECRET}
    idam-pr:
      enabled: true

  ccd-user-profile-api:
    java:
      image: hmctspublic.azurecr.io/ccd/user-profile-api:latest
      keyVaults: []
      environment:
        USER_PROFILE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_definition,ccd_admin,cmc_claim_store

  ccd-definition-store-api:
    java:
      image: hmctspublic.azurecr.io/ccd/definition-store-api:latest
      imagePullPolicy: Always
      keyVaults: []
      environment:
        DEFINITION_STORE_IDAM_KEY: ${DEFINITION_STORE_S2S_KEY}
        DEFINITION_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_admin,cmc_claim_store
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/hmcts

  am-role-assignment-service:
    java:
      environment:
        CCD_DATA_STORE_URL: http://${SERVICE_NAME}-ccd-data-store-api
      keyVaults:
        am:
          secrets:
            - name: am-role-assignment-service-s2s-secret
              alias: AM_ROLE_ASSIGNMENT_SERVICE_SECRET
            - name: app-insights-connection-string
              alias: app-insights-connection-string
            - name: role-assignment-service-IDAM-CLIENT-SECRET
              alias: ROLE_ASSIGNMENT_IDAM_CLIENT_SECRET
            - name: role-assignment-service-IDAM-ADMIN-SECRET
              alias: ROLE_ASSIGNMENT_IDAM_ADMIN_PASSWORD
            - name: role-assignment-service-LD-SDK-KEY
              alias: LD_SDK_KEY

  ccd-data-store-api:
    java:
      image: hmctspublic.azurecr.io/ccd/data-store-api:latest
      ingressHost: ccd-data-store-api-${SERVICE_FQDN}
      keyVaults: []
      environment:
        DATA_STORE_IDAM_KEY: ${DATA_STORE_S2S_KEY}
        IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET: ${IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET}
        IDAM_DATA_STORE_SYSTEM_USER_USERNAME: ${IDAM_DATA_STORE_SYSTEM_USER_USERNAME}
        IDAM_DATA_STORE_SYSTEM_USER_PASSWORD: ${IDAM_DATA_STORE_SYSTEM_USER_PASSWORD}
        IDAM_S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
        IDAM_API_BASE_URL: https://idam-api.aat.platform.hmcts.net
        IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
        OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/hmcts
        CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal

  ccd-user-profile-importer:
    image: hmctspublic.azurecr.io/ccd/user-profile-importer:db2r9a
    users:
      - civilmoneyclaims+ccd@gmail.com|CMC|MoneyClaimCase|open
      - civilmoneyclaims+judge@gmail.com|CMC|MoneyClaimCase|orderForJudgeReview
      - civilmoneyclaims+la@gmail.com|CMC|MoneyClaimCase|readyForDirections

  ccd-definition-importer:
    image: hmctspublic.azurecr.io/cmc/ccd-definition-importer:1.10.32
    environment:
      CCD_DEF_CLAIM_STORE_BASE_URL: http://${SERVICE_NAME}-java
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/hmcts
    definitionFilename: cmc-ccd.xlsx
    userRoles:
    - citizen
    - caseworker-cmc
    - caseworker-cmc-solicitor
    - caseworker-cmc-systemupdate
    - letter-holder
    - caseworker-autotest1
    - caseworker-cmc-anonymouscitizen
    - caseworker-cmc-judge
    - caseworker-cmc-legaladvisor
    - caseworker-cmc-pcqextractor
    - payments
    - TTL-admin
