nodejs:
  environment:
    IDAM_API_URL: https://preprod-idamapi.reform.hmcts.net:3511
    IDAM_URL: https://preprod-idamapi.reform.hmcts.net:3511
    IDAM_AUTHENTICATION_WEB_URL: https://idam.preprod.ccidam.reform.hmcts.net
    IDAM_S2S_AUTH: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    PAY_URL: http://payment-api-aat.service.core-compute-aat.internal
    FEES_URL: http://fees-register-api-aat.service.core-compute-aat.internal
    DRAFT_STORE_URL: http://draft-store-service-aat.service.core-compute-aat.internal
    DOCUMENT_MANAGEMENT_URL: http://dm-store-aat.service.core-compute-aat.internal

claim-store:
  environment:
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    SEND_LETTER_URL: http://rpe-send-letter-service-aat.service.core-compute-aat.internal
    IDAM_API_URL: https://preprod-idamapi.reform.hmcts.net:3511
    PDF_SERVICE_URL: http://cmc-pdf-service-aat.service.core-compute-aat.internal
