tags:
  cmc-claim-store-postgresql-pod: true
  cmc-citizen-frontend-pod: true
  postgresql-pod: false # rpe-feature-toggle-api

postgresql:
  resources:
    requests:
      cpu: 25m
  initdbScripts:
    init.sql: |-
      CREATE USER claimstore WITH PASSWORD 'claimstore';
      CREATE DATABASE claimstore WITH OWNER = claimstore ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE USER cmc WITH PASSWORD 'cmc';
      CREATE DATABASE cmc WITH OWNER = cmc ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE USER features WITH PASSWORD 'features';
      CREATE DATABASE features WITH OWNER = features ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
  nameOverride: claim-store-postgres
  persistence:
    enabled: false

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  applicationPort: 4400
  cpuRequests: 25m
  keyVaults:
    cmc:
      resourceGroup: cmc
      secrets:
        - AppInsightsInstrumentationKey
        - citizen-oauth-client-secret
        - claim-store-s2s-secret
        - anonymous-caseworker-username
        - anonymous-caseworker-password
        - system-update-username
        - system-update-password
        - notify-api-key
  environment:
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    SEND_LETTER_URL: http://rpe-send-letter-service-aat.service.core-compute-aat.internal
    IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
    PDF_SERVICE_URL: http://cmc-pdf-service-aat.service.core-compute-aat.internal
    DOCUMENT_MANAGEMENT_URL: http://dm-store-aat.service.core-compute-aat.internal
    REFORM_TEAM: cmc
    REFORM_SERVICE_NAME: claim-store
    REFORM_ENVIRONMENT: preview
    LOG_LEVEL: DEBUG
    CLAIM_STORE_DB_HOST: ${SERVICE_NAME}-claim-store-postgres
    CLAIM_STORE_DB_PORT: 5432
    CLAIM_STORE_DB_USERNAME: claimstore
    CLAIM_STORE_DB_NAME: claimstore
    CMC_DB_HOST: ${SERVICE_NAME}-claim-store-postgres
    CMC_DB_PORT: 5432
    CMC_DB_USERNAME: cmc
    CMC_DB_NAME: cmc
    SPRING_MAIL_HOST: mta.reform.hmcts.net
    SPRING_MAIL_PORT: 25
    SPRING_MAIL_TEST_CONNECTION: false
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: true
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST: mta.reform.hmcts.net
    CLAIM_STORE_TEST_SUPPORT_ENABLED: true
    FEATURE_TOGGLES_EMAILTOSTAFF: true
    FEATURE_TOGGLES_CCD_ENABLED: false
    FEATURE_TOGGLES_CCD_ASYNC_ENABLED: false
    FEATURE_TOGGLES_SAVE_CLAIM_STATE_ENABLED: false
    FEATURE_TOGGLES_ASYNC_EVENT_OPERATIONS_ENABLED: false
    CORE_CASE_DATA_API_URL: false
    FRONTEND_BASE_URL: https://www-${SERVICE_FQDN}
    RESPOND_TO_CLAIM_URL: https://www-${SERVICE_FQDN}/first-contact/start
    STAFF_NOTIFICATIONS_RECIPIENT: civilmoneyclaims+staff-int-tests@gmail.com
    STAFF_NOTIFICATIONS_SENDER: noreply@reform.hmcts.net
    RPA_NOTIFICATIONS_SENDER: noreply@reform.hmcts.net
    RPA_NOTIFICATIONS_SEALEDCLAIMRECIPIENT: civilmoneyclaims+rpa-claim-issued@gmail.com
    RPA_NOTIFICATIONS_MORETIMEREQUESTEDRECIPIENT: civilmoneyclaims+rpa-more-time-requested@gmail.com
    RPA_NOTIFICATIONS_RESPONSERECIPIENT: civilmoneyclaims+rpa-defence-response@gmail.com
    RPA_NOTIFICATIONS_COUNTYCOURTJUDGEMENTRECIPIENT: civilmoneyclaims+rpa-county-court-judgement@gmail.com
    RPA_NOTIFICATIONS_PAIDINFULLRECIPIENT: civilmoneyclaims+rpa-paid-in-full@gmail.com

cmc-citizen-frontend:
  nodejs:
    image: hmcts.azurecr.io/hmcts/cmc-citizen-frontend:latest  # master
    ingressIP: ${INGRESS_IP}
    consulIP: ${CONSUL_LB_IP}
    releaseNameOverride: ${SERVICE_NAME}-nodejs
    readinessDelay: 90                        # claim-store will start much slower
    livenessDelay: 90                         # claim-store will start much slower
    registerAdditionalDns:
      enabled: true
      primaryIngressHost: ${SERVICE_FQDN}
      prefix: www
    environment:
      LOG_LEVEL: DEBUG
      FEATURE_TOGGLES_API_URL: http://${SERVICE_NAME}-ftr-tgl-api
      CLAIM_STORE_URL: http://${SERVICE_NAME}-java
  rpe-feature-toggle-api:
    releaseNameOverride: ${SERVICE_NAME}-ftr-tgl-api
    java:
      releaseNameOverride: ${SERVICE_NAME}-ftr-tgl-api
      environment:
        FEATURES_DB_HOST: ${SERVICE_NAME}-claim-store-postgres
  idam-pr:
    service:
      redirect_uri: https://www-${SERVICE_FQDN}/receiver

