tags:
  idam-pr: true

postgresql:
  enabled: true
  image:
    tag: '11.3.0'
  resources:
    requests:
      cpu: 25m
  initdbScripts:
    init.sql: |-
      CREATE DATABASE cmc WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "user-profile" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
  postgresqlUsername: hmcts
  postgresqlPassword: hmcts
  persistence:
    enabled: false

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  livenessFailureThreshold: 6
  livenessDelay: 75
  readinessDelay: 75
  keyVaults:
    cmc:
      resourceGroup: cmc
      secrets:
        - AppInsightsInstrumentationKey
        - citizen-oauth-client-secret
        - claim-store-s2s-secret
        - anonymous-caseworker-username
        - anonymous-caseworker-password
        - system-update-username
        - system-update-password
        - notify-api-key
        - milo-recipient
        - staff-email
        - live-support-email
        - rpa-email-sealed-claim
        - rpa-email-more-time-requested
        - rpa-email-response
        - rpa-email-ccj
        - rpa-email-paid-in-full
  environment:
    LOG_LEVEL: DEBUG
    CMC_DB_HOST: ${SERVICE_NAME}-postgresql
    CMC_DB_USERNAME: hmcts
    CMC_DB_PASSWORD: hmcts
    CMC_DB_CONNECTION_OPTIONS: '?sslmode=allow'
    CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api

ccd:
  enabled: true
  ccd:
    s2s:
      enabled: false
    postgresql:
      enabled: false
    adminWeb:
      enabled: true

  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}

  global:
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    ccdAdminWebIngress: ccd-admin-web-${SERVICE_FQDN}
    ccdDefinitionStoreUrl: http://${SERVICE_NAME}-ccd-definition-store
    ccdUserProfileUrl: http://${SERVICE_NAME}-ccd-user-profile-api
    postgresUsername: hmcts
    postgresPassword: hmcts
    devMode: true

  ccd-admin-web:
    nodejs:
      image: hmctspublic.azurecr.io/ccd/admin-web:latest
      ingressHost: ccd-admin-web-${SERVICE_FQDN}
      keyVaults:
      environment:
        IDAM_OAUTH2_AW_CLIENT_SECRET: ${ADMIN_WEB_IDAM_SECRET}

  ccd-user-profile-api:
    java:
      image: hmctspublic.azurecr.io/ccd/user-profile-api:latest
      keyVaults:
      environment:
        USER_PROFILE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_definition,ccd_admin,cmc_claim_store

  ccd-definition-store-api:
    java:
      image: hmctspublic.azurecr.io/ccd/definition-store-api:latest
      keyVaults:
      environment:
        DEFINITION_STORE_IDAM_KEY: ${DEFINITION_STORE_S2S_KEY}
        DEFINITION_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_admin,cmc_claim_store

  ccd-data-store-api:
    java:
      image: hmctspublic.azurecr.io/ccd/data-store-api:latest
      keyVaults:
      environment:
        DATA_STORE_IDAM_KEY: ${DATA_STORE_S2S_KEY}

  ccd-user-profile-importer:
    image: hmctspublic.azurecr.io/ccd/user-profile-importer:db2r9a
    users:
      - civilmoneyclaims+ccd@gmail.com|CMC|MoneyClaimCase|open
      - civilmoneyclaims+judge@gmail.com|CMC|MoneyClaimCase|orderForJudgeReview
      - civilmoneyclaims+la@gmail.com|CMC|MoneyClaimCase|readyForDirections

  ccd-definition-importer:
    image: hmctspublic.azurecr.io/cmc/ccd-definition-importer:1.5.10
    environment:
      CCD_DEF_CLAIM_STORE_BASE_URL: http://${SERVICE_NAME}-java
    definitionFilename: cmc-ccd.xlsx
    userRoles:
    - citizen
    - caseworker-cmc
    - caseworker-cmc-solicitor
    - caseworker-cmc-systemupdate
    - letter-holder
    - caseworker-autotest1
    - caseworker-cmc-anonymouscitizen
    - caseworker-cmc-judge
    - caseworker-cmc-legaladvisor
