tags:
  idam-pr: true

postgresql:
  enabled: true
  image:
    tag: '11.3.0'
  resources:
    requests:
      cpu: 25m
  initdbScripts:
    init.sql: |-
      CREATE DATABASE cmc WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "user-profile" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
  postgresqlUsername: hmcts
  postgresqlPassword: hmcts
  persistence:
    enabled: false

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  livenessFailureThreshold: 6
  livenessDelay: 75
  readinessDelay: 75
  environment:
    LOG_LEVEL: DEBUG
    CMC_DB_HOST: ${SERVICE_NAME}-postgresql
    CMC_DB_USERNAME: hmcts
    CMC_DB_PASSWORD: hmcts
    CMC_DB_CONNECTION_OPTIONS: '?sslmode=allow'
    CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api

ccd:
  enabled: true
  ccd:
    s2s:
      enabled: false
    postgresql:
      enabled: false
    adminWeb:
      enabled: false
    userProfileImporter:
      enabled: false

  global:
    idamApiUrl: "https://idam-api.aat.platform.hmcts.net"
    s2sUrl: "http://rpe-service-auth-provider-aat.service.core-compute-aat.internal"
    postgresUsername: hmcts
    postgresPassword: hmcts
    devMode: true

  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}

  ccd-definition-store-api:
    java:
      image: hmctspublic.azurecr.io/ccd/definition-store-api:latest

  ccd-data-store-api:
    java:
      image: hmctspublic.azurecr.io/ccd/data-store-api:latest

  ccd-definition-importer:
    image: hmctspublic.azurecr.io/cmc/ccd-definition-importer:1.5.10
    environment:
      CCD_DEF_CLAIM_STORE_BASE_URL: http://${SERVICE_NAME}-java
    definitionFilename: cmc-ccd.xlsx
    userRoles:
    - citizen
    - caseworker-cmc
    - caseworker-cmc-solicitor
    - caseworker-cmc-systemupdate
    - letter-holder
    - caseworker-autotest1
    - caseworker-cmc-anonymouscitizen
    - caseworker-cmc-judge
    - caseworker-cmc-legaladvisor
